.add {
    background-color:#d9d9d9;
    height:35px;
    width:50px;
    border:1px solid #cccccc;
    text-align:center;
    cursor:pointer;
    padding-top:5px;
}

.post {
    background-color:#e6ecff;
    height:35px;
    width:80px;
    border:1px solid #cccccc;
    text-align:center;
    cursor:pointer;
    margin:0 auto;
}

.tagTextBox {
    border-radius:0px;
    height:35px;
}

.tagField {
    height:35px;
    width:200px;
    padding:4px;
}

.locationField {
    height:35px;
    width:200px;
    padding:4px;
    color:darkgray;
}

.addTagContainer {
    padding:20px;
    display:inline-flex;
    margin:0px 4px 0px 4px;
}

.addLocationContainer {
    padding:20px;
    display:inline-flex;
    margin:0px 4px 0px 4px;
}

.tagBox {
    background-color:#e6ecff;
    height:100px;
    width:330px;
    margin:0 auto;
    padding:10px;
    border-radius: 16px;
}

.tag {
    background-color:#d9d9d9;
    border:1px solid #cccccc;
    color:black;
    padding:2px;
    height:24px;
    float:left;
    margin:4px 10px 4px 10px;
    border-radius:5px;
    display:inline-flex;
    padding-left:5px;
}

.closeButton {
    background-color:#d9d9d9;
    cursor:pointer;
    font-size:12px;
    margin-left:4px;
    font-weight:bold;
    color:#999999;
}

.closeButton:hover{
    color:#808080;
}

