html, body {
    margin:0;
    padding:0;
    height:100%;
}

.footer {
    text-align: center;
    font-size: small;
    font-family: sans-serif;
    bottom: 0;
    position: fixed;
}

.sidebar {
    background-color:#e6ecff;
    height:100%;
    padding:20px;
}

.sidebarItem {
    margin:4px 0px 4px 0px;
    background-color:#0a4199;
    border-radius:5px;
    color:white;
    font-size:18px;
    padding:5px;
}

.sidebarLink {
    color:white;
}

.sidebarLink:hover {
    color:white;
}

.searchOptions {
    background-color: #0a4199;
}

.profileDropdown {
    float : right;
    border-radius : 20px;

}
.menuBar {
    margin-right : 50px;
    margin-top : 20px;
}

.homeButton {
    margin-right : 10px;
}


