<div ng-controller="homeCtrl" style="text-align: center">
    <div class="jumbotron">
        <h1 class="display-3">Wecome to Duke Lost & Found!</h1>
        <p class="lead">This is a dedicated Lost and Found platform, intended primarily for members of the Duke community.</p>
        <hr class="my-2">
        <p>Our goal is simple: Streamline the communication between those who have lost items and those who have found items. </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#/contact" role="button">Learn more about us!</a>
        </p>
    </div>
</div>