<div ng-controller = "lostItemCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" ng-bind = "itemDisplay.tags"></h3>
        </div>
        <div class="modal-body" id="modal-body" style="text-align: center">
            <img ng-src = "{{itemDisplay.pictureURL}}" align="center" width="400px" height="400px"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
        </div>
    </script>

    <div class = "container">
        <div style="font-weight:bold; font-size:20px">Lost Items</div>
        <div style="text-align: right">
                <label><input ng-model = "lostItemSearchText" placeholder="Search Location or Tags">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </label>
        </div>
        <div>
                <table class = "table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Location</th>
                            <th>Picture</th>
                            <th>Tags</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat = "lostitem in lostItems | filter : lostItemSearchText">
                        <td ng-bind = "lostitem.location"></td>
                        <td>
                            <img ng-src = "{{lostitem.pictureURL}}" ng-click="open(lostitem)" width = "100px" height = "100px"/>
                        </td>
                        <td ng-bind = "lostitem.tags"></td>
                        <td ng-bind = "lostitem.timestamp"></td>
                    </tr>
                    </tbody>
                </table>
        </div>
        <div class = "row" style="text-align: right">
                <button title = "Forgot your item? Add a new one to the table!" type = "button" class = "btn btn-primary" ng-click = "createNewItem()">Add a New Lost Item
                    <i class = "fa fa-plus fa-fw" aria-hidden="true"></i>
                </button>
        </div>
    </div>
</div>