<div class="container" ng-controller="lostDukeCardCtrl">

    <div uib-alert ng-class="'alert-' + alert.type" ng-show="alert.display" close="closeAlert()">{{alert.message}}</div>

    <h2>Report a Lost Duke Card </h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="uniqueID">Unique ID on Lost Duke Card:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="uniqueID" class="form-control" id="uniqueID" placeholder="Enter uniqueID">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click = "notifyOwner()">Notify Owner!</button>
            </div>
        </div>
    </form>

    <div class="id">
        <div style="display:flex">
            <div style="margin-top:130px">
                <div style="background-color:white; height:10px; width:180px; margin-bottom:10px"></div>
                <div style="background-color:white; height:10px; width:180px; margin-top:10px"></div>
            </div>
            <div style="text-align:center; float:right; padding-left:15px">
                <div class="head"> </div>
                <div class="shoulders"> </div>
            </div>
        </div>

    </div>

</div>
