<div ng-controller = "lostItemCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" ng-bind = "itemDisplay.tags"></h3>
        </div>
        <div class="modal-body" id="modal-body" style="text-align: center">
            <img ng-src = "{{itemDisplay.pictureURL}}" align="center" width="400px" height="400px"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
        </div>
    </script>

    <div class = "container-fluid">
        <p>This is the lost Item page</p>
        <div class = "row">
            <div class = "col-md-8 col-md-offset-2">
                <label><input ng-model = "lostItemSearchText" placeholder="Search Location or Tags">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </label>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-8 col-md-offset-2">
                <table class = "table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Picture URL</th>
                            <th>Tags</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat = "lostitem in lostItems | filter : lostItemSearchText">
                        <td ng-bind = "lostitem.location"></td>
                        <td>
                            <img ng-src = "{{lostitem.pictureURL}}" ng-click="open(lostitem)" width = "35%" height = "35%"/>
                        </td>
                        <td ng-bind = "lostitem.tags"></td>
                        <td ng-bind = "lostitem.timestamp"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-4 col-md-offset-8">
                <button title = "Forgot your item? Add a new one to the table!" type = "button" class = "btn btn-primary" ng-click = "createNewItem()">Add a New Lost Item
                    <i class = "fa fa-plus fa-fw" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>