<div ng-controller="postitemCtrl">

    <div style="padding:10px;">

        <div id="postitemContainer" style="text-align:left" >
            <div style="font-weight:bold; font-size:20px">Post Item</div>

            <div class="addTagContainer">
                <div style="padding-top:5px; padding-left:5px; padding-right:5px">Add a Tag:</div>
                <div id="textBox" class="tagTextBox" data-ng-google-suggest ng-model="tagWord" ng-click="focusSearch()"></div>
                <div id="addButton" class="add" ng-click="handleTagInput()">Add</div>
            </div>

            <datalist id="words">
                <option value="possibleWord">
                <option value="green">
                <option value="water bottle">
                <option value="Gatorade">
            </datalist>

            <div class="tagBox"></div>


            <div class="addTagContainer">
                <div style="padding-top:5px; padding-left:5px; padding-right:5px">What is your location?:</div>
                <input id="location" class="tagField" type="text">
            </div>

            <div style="text-align:center; display:flex; padding:5px;">
                <div> <input id="fileInput" type="file" file-model="uploadedFile"/> </div>
            </div>

            <div id="postButton"><button class="post" ng-click="postItem()">Post Item</button></div>

            <div id="errorBox" style="color:red; font-style:italic; padding:5px"></div>
        </div>

    </div>

</div>

